.hero-section {
    height: 100vh;
    background: url('../assets/images/3D\ logo.jpg') center/cover no-repeat;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 35%, rgba(0,0,0,0) 95%);
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 35%, rgba(0,0,0,0) 95%);
    display: flex;
    justify-content: center;
    align-items: center;
}

@supports (background: url('../assets/images/Output_3D_logo.webp')){
    .hero-section{
        background: url('../assets/images/Output_3D_logo.webp') center/cover no-repeat;
    }
}

.gallery-item img, .gallery-item video {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s;
    cursor: pointer;
}

.gallery-item img:hover {
    transform: scale(1.05);
}

footer {
    padding: 20px 0;
}

.skip-link{
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 0.5rem;
    translate: 0 -100%;
    transition: translate 150ms ease-in-out;
}

.skip-link:focus{
    translate: 0;
}

#back-to-top {
    position: fixed;
    bottom: 7rem;
}

.carousel {
    max-width: 1000px;
    max-height: 600px;
    margin: auto;
}

.carousel-inner img, video {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#github {
    color: black;
}

.gallery-img picture {
    width: 100%;
    cursor: pointer;
}